@media (max-width: 780px){
    .menu{
        flex-direction: column;
        gap: 2rem;
    }
    .conteudo__controle{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-bottom: 5rem;
    }
    .texto__p{
        text-align: center;
    }
    .conteudo__textos{
        width: 90vw;
        align-items: center;
    }
    .texto__p{
        max-width: 80vw;
    }
    .principal__textos{
        padding-bottom: 5vh;
    }
    .imagem-controle{
        width: 80vw;
    }
}