.principal{
    height: calc(100vh + 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.principal__xbox{
    font-weight: 600;
    font-size: 4rem;
    color: #FFFFFF;
}
.principal__pedido{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #9BF00B;
}
.principal__imagem img{
    z-index: 1;
}
.principal__imagem{
    display: flex;
    position: relative;
}
.principal__textos{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.principal__imagem::after{
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.2) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%) no-repeat center;
    position: absolute;
    filter: blur(250px) opacity(1);
    width: 75vw;
    height: 595px;
    display: flex;
    left: 10%;
    bottom: 50%;
    animation: mudar 5s infinite ease-in-out alternate;
}
@keyframes mudar {
    to{
        opacity: 0;
    }
}

.conteudo__controle{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 50vh;

}
.conteudo__textos{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto__h2-Verde{
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;

    color: #9BF00B;
}
.texto__h2-Branco{
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;

    color: #FFFFFF;
    margin-bottom: 1rem;
}
.texto__p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 2rem;
    max-width: 35vw;
}
.imagem-controle{
    width: 400px;
}
.fotos{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}
.foto{
    width: 25vw;
}
.perguntas{
    display: flex;
    flex-direction: column;
    width:80vw;
    margin: 0 auto;
}
.perguntas__titulo{
    font-weight: 600;
    font-size: 3rem;
    color: #FFFFFF;
    
}
.perguntas__titulo-verde{
    font-weight: 600;
    font-size: 3rem;
    color: #9BF00B;
}
.div--textos{
    padding-top: 2rem;
}
.div--textos:not(last-child){
    border-bottom: 1px solid gray;
}
.perguntas{
    padding-top: 2rem;
    height: 50vh;
}
.perguntas__h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.perguntas__h3+p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #FFFFFF;
    text-indent: 3rem;
}
.perguntas__h3::after{
    content: '';
    display: inline-block;
    background: url(../../img/main/arrow-baixo.svg);
    background-size: cover;
    background-repeat: repeat;
    width: 25px;
    height: 25px;
}
.perguntas__h3-alterado::after{
    content: '';
    display: inline-block;
    background: url(../../img/main/arrow.svg);
    background-size: cover;
    background-repeat: repeat;
    width: 25px;
    height: 25px;
}
.displayNone{
    display: none;
}
.principal__imagem{
    width: 100vw;
}